body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#sidebar {
    width: 256px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease;
}

#chat-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 19px;
}

button {
    height: 48px;
    min-width: 48px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 10px;
}
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px 16px transparent;
    border-radius: 5px;
    border: solid 5px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 16px 16px #007BFF;
    min-height: 64px;
    border-radius: 16px;
    border: solid 5px transparent;

}


.small-button {
    height: 32px;
    min-width: 32px;
    width: 32px;
    padding: 0;
    margin: 2px;
}

button:hover {
    background-color: #469fff;
}

#sidebar-top-row {
    margin-top: 4px;
    margin-bottom: 24px;
}

#new-bot-btn {
    width: 160px;
}

#send-button {
    height: 48px;
    margin-top: 20px;
}


#dark-mode-toggle {
    width: 48px;
    float: left;
    margin-right: 1%;
    align-items: center;
    justify-content: center;
}

#bots-list {
    flex: 1;
    overflow-y: auto;
    bottom:3px;
}

.bot-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.bot-item.selected {
    background-color: #ffe0b2;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.bot-buttons {
    display: flex;
    gap: 5px;
}

.bot-buttons .delete-btn, .delete-endpoint-btn {
    color: #FF0000;
}

#messages {
    height: calc(100% - 71px);
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 0px 0px 16px;
    background-color: #fff;
}

#chat-form {
    display: flex;
    width: 100%;
    height: 48px;
}

#user-input {
    margin-right: 16px;
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    font-size: 20px;
    height: 24px;
    margin-top: 20px;
}

button[type="submit"] {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-left-color: #007BFF;
    animation: spin 1s ease infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #e0f7fa;
    align-self: flex-start;
}

.bot-message {
    background-color: #ffe0b2;
    align-self: flex-end;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div.modal-content {
    padding: 19px;
}

.modal-content h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.modal-content input,
.modal-content textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-content button#cancel-create-btn {
    background-color: #FF0000;
}

.modal-content button#cancel-delete-btn {
    background-color: #FF0000;
}

#configure-endpoints-btn {
    padding: 10px;
    height: 48px;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#configure-endpoints-modal .modal-content {
    width: 90%;
    max-width: 500px;
}

#endpoints-list {
    margin-bottom: 20px;
}

.endpoint-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.endpoint-buttons {
    display: flex;
    gap: 5px;
}

.endpoint-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
}

/* Adjust markdown heading sizes to be more balanced */
#messages h1 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

#messages h2 {
    font-size: 1.1em;
    margin: 0.5em 0;
}

#messages h3 {
    font-size: 1em;
    margin: 0.5em 0;
}

#messages h4, #messages h5, #messages h6 {
    font-size: 0.9em;
    margin: 0.5em 0;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #e0e0e0;
}
body.dark-mode .small-button {
    background-color: #004895;
}
body.dark-mode textarea {
    background-color: #0e0e0e;
    color: #e0e0e0;
}
body.dark-mode input {
    background-color: #0e0e0e;
    color: #e0e0e0;
}
body.dark-mode #container {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode #sidebar {
    border-right: 1px solid #333;
    background-color: #1e1e1e;
}

body.dark-mode .bot-buttons .delete-btn, body.dark-mode .delete-endpoint-btn {
    color: #b90000;
}

body.dark-mode #messages {
    background-color: #333;
}

body.dark-mode .message.user-message {
    background-color: #0d355c;
}

body.dark-mode .message.bot-message {
    background-color: #681616;
}

body.dark-mode button {
    background-color: #004895;
    color: #e0e0e0;
}

body.dark-mode button:hover {
    background-color: #0062ca;
}

body.dark-mode .bot-item.selected {
    background-color: #681616;
    color: #e0e0e0;
}

code {
    text-wrap: pretty;
}

body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 16px 16px #004895; 
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 25px;
    background-color: #007BFF;
    width: 48px;
    height: 48px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #container {
        flex-direction: row;
    }

    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 20px;
        bottom: 0;
        z-index: 1000;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .sidebar-visible #sidebar {
        transform: translateX(-24px);
        opacity: 1;
    }
    .menu-toggle {
        opacity: 0.15;
    }
    .menu-toggle:hover {
        opacity: 0.75;
    }

    .sidebar-visible .menu-toggle {
        opacity: 1;
    }
    #chat-container {
        width: 100%;
    }

    #menu-toggle {
        display: block;
        left: 25px;
        transform: translateX(0%);
        transition: transform 0.3s ease;
    }

    .sidebar-visible #menu-toggle {
        transform: translateX(267px);
    }

    #messages {
        height: calc(100% - 71px);
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 100%;
        padding: 10px;
    }

    #user-input {
        padding: 5px;
    }

    #new-bot-btn, #send-button, #dark-mode-toggle {
        padding: 5px;
    }
}
